html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Freight Sans Bold", helvetica, arial, sans-serif !important;
  background-color: #e9e9e9;
  width: auto;
  height: auto;
  /* display: flex; */
  margin: 0 auto;
  max-width: 1440px;
}
a {
  color: white;
  text-decoration: none;
}
p1 {
  color: #1b6192;
  font-family: inherit;
  font-size: 15px;
}
p2 {
  color: #868383;
  font-family: inherit;
  font-size: 15px;
}
p3 {
  color: #1b6192;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
}
p4 {
  color: #868383;
  font-family: inherit;
  font-size: 10px;
}
p6 {
  color: #1b6192;
  font-family: inherit;
  font-size: 15px;
  word-spacing: 10px;
}
p7 {
  font-size: 20px;
  color: #868383;
  font-family: inherit;
}
#commentprof2 {
  display: inline;
  top: 560px;
  left: 0px;
  width: 30px;
  height: 30px;
}
#commentbox {
  width: 100%;
  height: 30px;
}
.header {
  position: fixed;
  width: 100%;
  height: 100px;
  background: #4267b2;
  top: 0;
  left: 0;
  color: white;
  z-index: 7;
  font-family: inherit;
}
#searchbox {
  padding: 7px;
  background: #ffffff;
  outline: none;
  border-radius: 5px;
  width: 400px;
  border-width: 1px;
  border-color: #4267b2;
}
#searcharea button {
  padding: 6px;
  background: #eeeeee;
  cursor: pointer;
  outline: none;
  border-width: 2px;
  border-radius: 5px;
}
#searcharea button:hover {
  background-color: #4267b2;
  color: #ffffff;
}
#searcharea {
  top: 17px;
  max-width: 400px;
}
#searcharea form {
  display: flex;
  align-items: center;
  gap: 5px;
}
.search__div {
  display: inline-flex;
}
#profilearea {
  top: 15px;
  /* left: 780px; */
  height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
#profilearea1 {
  width: auto;
  top: 20px;
  text-transform: capitalize;
  /* left: 820px; */
  margin-top: 1px;
  height: 20px;
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  padding: 0 10px;
}
#profilearea1 a {
  width: auto;
}
#profilearea2 {
  /* left: 1083px; */
}
#profilearea2,
#profilearea3,
#profilearea5 {
  top: 10px;
  height: 30px;
  font-size: 20px;
  color: #365491;
  font-family: inherit;
  padding: 0 10px;
}
#profilearea3 {
  /* left: 865px; */
}
#profilearea5 {
  /* left: 935px; */
}
#profilearea4 {
  top: 20px;
  /* left: 880px; */
  margin-top: 1px;
  height: 20px;
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
}
#findf {
  top: 13px;
  left: 955px;
  height: 30px;
}
#message {
  top: 20px;
  left: 1005px;
  width: 25px;
  height: 25px;
}
#notification {
  top: 20px;
  left: 1043px;
  height: 30px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
a.notif {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background: url("/images/notification_icon2.png") no-repeat;
  background-size: contain;
}
#img1 {
  left: 100px;
  height: 50px;
  width: 110px;
  top: 25px;
}
#logout {
  top: 15px;
  height: 30px;
  padding: 0 10px;
}
.body-header {
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 60px;
  color: white;
  position: fixed;
  background: #4267b2;
}
.nav-bar {
  display: flex;
  align-items: center;
}
.header1 {
  height: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1440px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header0001 {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #4267b2;
  top: 0;
  left: 0;
  color: white;
  z-index: 6;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
#img3 {
  vertical-align: middle;
  height: 40px;
  top: 10px;
  padding-left: 20px;
}
.body-content {
  top: 70px;
  width: 100%;
  display: flex;
  position: relative;
  /* align-items: center; */
  justify-content: space-between;
}
.bodyn {
  /* width: 200px;
  height: 740px; */
  padding: 10px;
  height: 100%;
  font-family: inherit;
  background-color: white;
}
.bodyn-div {
  height: 100%;
}
#column-1 {
  left: 0px;
  top: 0px;
  background: white;
  width: 100%;
  height: 200px;
  border-radius: 3px/3px;
  font-size: 15px;
  font-family: inherit;
  color: #1b6192;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

#column-1 input {
  top: 178px;
  position: absolute;
  z-index: 10;
}
#postpos {
  /* left: 450px; */
  top: 170px;
  width: 100%;
  height: 30px;
  position: absolute;
  display: flex;
  justify-content: end;
}
#postbox {
  height: 105px;
  outline: none;
  border: white;
  background: #e9f0f2;
  width: 100%;
}
#postboxpos {
  top: 45px;
  left: 10px;
  height: 105px;
  width: 100%;
  z-index: 5;
  position: absolute;
}
#post1pos {
  left: 80px;
  top: 500px;
  width: 100px;
  height: 30px;
}
#buttonpost {
  width: 85px;
  height: 30px;
  border-radius: 4px/4px;
  background: #4267b2;
  font-size: 15px;
  outline: none;
  color: white;
  cursor: pointer;
}
#buttonpost1 {
  width: 100px;
  height: 30px;
  font-size: 15px;
  border-radius: 4px/4px;
  color: white;
  background: #4267b2;
  outline: none;
}
.post-content {
  display: flex;
  flex-direction: column;
}
.post {
  width: 560px;
  height: 210px;
  margin-bottom: 10px;
}
.post-form {
  position: relative;
}
.postp {
  top: 440px;
  left: 350px;
  position: absolute;
  height: 210px;
}
.postpx {
  /* top: 80px; */
  /* left: 370px; */
  position: relative;
  width: 60%;
  margin: 0 auto;
  background-color: #ffffff;
  height: 210px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  display: block;
}

.post00 {
  top: 70px;
  left: 240px;
  position: absolute;
  width: 600px;
  height: 210px;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
.post1 {
  position: relative;
  background: white;
  width: 580px;
  height: inherit;
  border-radius: 3px/3px;
  margin-bottom: 10px;
}
.post1p {
  top: 660px;
  left: 350px;
  position: absolute;
  background: white;
  width: 580px;
  height: auto;
  border-radius: 3px/3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.post1px {
  display: block;
  position: relative;
  background: white;
  width: 60%;
  height: auto;
  border-radius: 3px/3px;
  margin: 0 auto 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
.post-image {
  width: 100%;
  height: 100%;
  max-height: 700px;
}
.sidebox {
  top: 70px;
  left: 850px;
  width: 220px;
  height: 490px;
  position: absolute;
  font-family: inherit;
  color: #363030;
  font-size: 15px;
}
.sideboxxx {
  top: 70px;
  left: 850px;
  width: 220px;
  height: 570px;
  position: absolute;
  font-family: inherit;
  color: #363030;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  font-size: 15px;
}
.sideboxxx2 {
  top: 650px;
  left: 850px;
  width: 220px;
  height: 460px;
  position: absolute;
  font-family: inherit;
  color: #363030;
  font-size: 15px;
}
.sideboxxxx2 {
  top: 650px;
  left: 850px;
  width: 220px;
  height: 460px;
  position: absolute;
  font-family: inherit;
  color: #363030;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  font-size: 15px;
}
#sideboxx1 {
  left: 0px;
  width: 180px;
  height: 20px;
  font-size: 16px;
  color: #868383;
  cursor: default;
}
#sideboxx2 {
  left: 0px;
  width: 180px;
  height: 20px;
  font-size: 16px;
  color: #868383;
  cursor: default;
}
#sideboxx3 {
  left: 0px;
  width: 180px;
  height: 20px;
  font-size: 16px;
  color: #868383;
  cursor: default;
}
#sideboxx4 {
  left: 0px;
  width: 180px;
  height: 20px;
  font-size: 16px;
  color: #868383;
  cursor: default;
}
.see-all {
  cursor: pointer;
}
#sidebox1 {
  top: 0;
  left: 0;
  width: 200px;
  height: 490px;
  background: white;
  border-radius: 3px/3px;
  padding: 10px;
}
#sidebox2 {
  top: 0px;
  left: 0;
  width: 200px;
  height: 440px;
  background: white;
  border-radius: 3px/3px;
  padding: 10px;
}
#sideboxx21 {
  left: 0px;
  width: 180px;
  height: 20px;
  font-size: 20px;
  color: #868383;
}
#sideboxx22 {
  left: 0px;
  width: 180px;
  height: 20px;
  font-size: 20px;
  color: #868383;
}
#sideboxx23 {
  left: 0px;
  width: 180px;
  height: 20px;
  font-size: 20px;
  color: #868383;
}
#side1 {
  display: flex;
}
#side1 span {
  margin: 6px 0 0 6px;
  font-size: 14px;
  text-transform: capitalize;
  color: #1d2129;
}
#side3 {
  top: 45px;
  left: 10px;
  width: 160px;
  height: 25px;
  font-size: 14px;
  color: #363030;
  padding-top: 5px;
  padding-left: 20px;
  cursor: pointer;
}
#side1:hover {
  background: #e9f0f2;
}
#side3:hover {
  background: #e9f0f2;
}
#side4:hover {
  background: #e9f0f2;
}
#side5:hover {
  background: #e9f0f2;
}
#side7:hover {
  background: #e9f0f2;
}
#side8:hover {
  background: #e9f0f2;
}
#side9:hover {
  background: #e9f0f2;
}
#side10:hover {
  background: #e9f0f2;
}
#side12:hover {
  background: #e9f0f2;
}
#side13:hover {
  background: #e9f0f2;
}
#side15:hover {
  background: #e9f0f2;
}
#side16:hover {
  background: #e9f0f2;
}
#side17:hover {
  background: #e9f0f2;
}
#side19:hover {
  background: #e9f0f2;
}
#side20:hover {
  background: #e9f0f2;
}
#side22:hover {
  background: #e9f0f2;
}
#side24:hover {
  background: #e9f0f2;
}
#side4 {
  top: 70px;
  left: 10px;
  width: 160px;
  height: 25px;
  font-size: 14px;
  color: #363030;
  padding-top: 5px;
  padding-left: 20px;
  cursor: pointer;
}
#side5 {
  top: 95px;
  left: 10px;
  width: 160px;
  height: 25px;
  font-size: 14px;
  color: #363030;
  padding-top: 5px;
  padding-left: 20px;
  cursor: pointer;
}
#side6 {
  top: 130px;
  left: 10px;
  width: 180px;
  height: 30px;
  font-size: 16px;
  color: #868383;
  padding-top: 5px;
  cursor: default;
}
#side7 {
  top: 160px;
  left: 10px;
  width: 160px;
  height: 25px;
  font-size: 14px;
  color: #363030;
  padding-top: 5px;
  padding-left: 20px;
  cursor: pointer;
}
#side8 {
  top: 185px;
  left: 10px;
  width: 160px;
  height: 25px;
  font-size: 14px;
  color: #363030;
  padding-top: 5px;
  padding-left: 20px;
  cursor: pointer;
}
#side9 {
  top: 210px;
  left: 10px;
  width: 160px;
  height: 25px;
  font-size: 14px;
  color: #363030;
  padding-top: 5px;
  padding-left: 20px;
  cursor: pointer;
}
#side10 {
  top: 235px;
  left: 10px;
  width: 160px;
  height: 25px;
  font-size: 14px;
  color: #363030;
  padding-top: 5px;
  padding-left: 20px;
  cursor: pointer;
}
#side11 {
  top: 270px;
  left: 10px;
  width: 180px;
  height: 30px;
  font-size: 16px;
  color: #868383;
  padding-top: 5px;
  cursor: default;
}
#side12 {
  top: 300px;
  left: 10px;
  width: 160px;
  height: 25px;
  font-size: 14px;
  color: #363030;
  padding-top: 5px;
  padding-left: 20px;
  cursor: pointer;
}
#side13 {
  top: 325px;
  left: 10px;
  width: 160px;
  height: 25px;
  font-size: 14px;
  color: #363030;
  padding-top: 5px;
  padding-left: 20px;
  cursor: pointer;
}
#side14 {
  top: 360px;
  left: 10px;
  width: 180px;
  height: 30px;
  font-size: 16px;
  color: #868383;
  padding-top: 5px;
  cursor: default;
}
#side15 {
  top: 390px;
  left: 10px;
  width: 160px;
  height: 25px;
  font-size: 14px;
  color: #363030;
  padding-top: 5px;
  padding-left: 20px;
  cursor: pointer;
}
#side16 {
  top: 415px;
  left: 10px;
  width: 160px;
  height: 25px;
  font-size: 14px;
  color: #363030;
  padding-top: 5px;
  padding-left: 20px;
  cursor: pointer;
}
#side17 {
  top: 440px;
  left: 10px;
  width: 160px;
  height: 25px;
  font-size: 14px;
  color: #363030;
  padding-top: 5px;
  padding-left: 20px;
  cursor: pointer;
}
#side18 {
  top: 475px;
  left: 10px;
  width: 180px;
  height: 30px;
  font-size: 16px;
  color: #868383;
  padding-top: 5px;
  cursor: default;
}
#side19 {
  top: 505px;
  left: 10px;
  width: 160px;
  height: 25px;
  font-size: 14px;
  color: #363030;
  padding-top: 5px;
  padding-left: 20px;
  cursor: pointer;
}
#side20 {
  top: 530px;
  left: 10px;
  width: 160px;
  height: 25px;
  font-size: 14px;
  color: #363030;
  padding-top: 5px;
  padding-left: 20px;
  cursor: pointer;
}
#side21 {
  top: 565px;
  left: 10px;
  width: 180px;
  height: 30px;
  font-size: 16px;
  color: #868383;
  padding-top: 5px;
  cursor: default;
}
#side22 {
  top: 595px;
  left: 10px;
  width: 160px;
  height: 25px;
  font-size: 14px;
  color: #363030;
  padding-top: 5px;
  padding-left: 20px;
  cursor: pointer;
}
#side23 {
  top: 630px;
  left: 10px;
  width: 180px;
  height: 30px;
  font-size: 16px;
  color: #868383;
  padding-top: 5px;
  cursor: default;
}
#side24 {
  top: 660px;
  left: 10px;
  width: 160px;
  height: 25px;
  font-size: 14px;
  color: #363030;
  padding-top: 5px;
  padding-left: 20px;
  cursor: pointer;
}
.admin-content {
  top: 60px;
  width: 100%;
  display: flex;
  gap: 20px;
  position: relative;
  flex-direction: column;
}
.top-content {
  /* top: 60px; */
  width: 940px;
  height: 360px;
  margin: 0 auto;
  position: relative;
  background: white;
}
.coverpad {
  /* left: 100px;
  top: 60px; */
  background: white;
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}
.coverpad img {
  width: 100%;
  height: 100%;
}
.aboutpad {
  left: 100px;
  top: 440px;
  background: white;
  height: 360px;
  width: 850px;
  position: absolute;
  display: none;
}
.aboutpadx {
  left: 100px;
  top: 440px;
  display: none;
  height: 360px;
  width: 850px;
  position: absolute;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
.phpad {
  left: 100px;
  top: 440px;
  background: white;
  height: 360px;
  width: 850px;
  position: absolute;
  display: none;
}
.phpadx {
  left: 100px;
  top: 440px;
  display: none;
  height: 360px;
  width: 850px;
  position: absolute;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
.frnpad {
  display: none;
}
.frnpadx {
  left: 100px;
  top: 440px;
  display: none;
  height: 360px;
  width: 850px;
  position: absolute;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
.coverpadx {
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
.coverpadx input {
  /* display: none; */
  top: 30px;
  z-index: 100;
}
/* .coverpadx:hover {
    display: block;
} */
.coverpadx img {
  width: 850px;
}
.profilepic {
  width: 140px;
  height: 140px;
  padding: 5px;
  top: 208px;
  left: 110px;
  background: white;
  position: absolute;
  border-radius: 2px/2px;
}
.profilepic img {
  width: 140px;
  height: 140px;
}
.profilepicx {
  width: 140px;
  height: 140px;
  padding: 5px;
  top: 208px;
  left: 110px;
  position: absolute;
  border-radius: 2px/2px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
.username {
  left: 275px;
  font-size: 24px;
  font-family: inherit;
  color: #fff;
  top: 265px;
  height: 50px;
  width: 200px;
  position: absolute;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  text-rendering: optimizelegibility;
  text-transform: capitalize;
}
.admin-extra {
  top: 310px;
  left: 280px;
  position: absolute;
  display: flex;
  gap: 10px;
}
.box11 {
  padding: 12px;
  background: white;
  width: 70px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  height: 16px;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  color: #4267b2;
}
.box12 {
  /* top: 375px;
  left: 380px;
  position: absolute; */
  padding: 12px;
  background: white;
  width: 70px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  height: 16px;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;

  color: #4267b2;
}
.box13 {
  /* top: 375px;
  left: 480px;
  position: absolute; */
  padding: 12px;
  background: white;
  width: 70px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  height: 16px;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  color: #4267b2;
}
.box14 {
  /* top: 375px;
  left: 580px;
  position: absolute; */
  padding: 12px;
  background: white;
  width: 70px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  height: 16px;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  color: #4267b2;
}
select {
  /* top: 375px;
  left: 680px;
  position: absolute; */
  padding: 10px;
  width: 110px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  height: 40px;
  font-size: 16px;
  font-family: inherit;
  border: none;
  background-color: white;
  color: #4267b2;
  cursor: pointer;
}
.box11:hover,
.active {
  background: #e9f0f2;
}
.box12:hover,
.box12:active {
  background: #e9f0f2;
}
.box13:hover {
  background: #e9f0f2;
}
.box14:hover {
  background: #e9f0f2;
}
select:hover {
  background: #e9f0f2;
}
.abox1x {
  top: 440px;
  background: white;
  left: 100px;
  display: block;
  position: absolute;
  width: 250px;
  border-radius: 3px/3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  height: 400px;
}
.abox2x {
  top: 860px;
  left: 100px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  position: absolute;
  background: white;
  width: 250px;
  display: block;
  border-radius: 3px/3px;
  height: 250px;
}
.abox3x {
  top: 1130px;
  left: 100px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  position: absolute;
  background: white;
  width: 250px;
  display: block;
  border-radius: 3px/3px;
  height: 250px;
}

#profpic {
  height: 30px;
}

.box13 a,
.box11 a,
.box12 a,
.box14 a {
  color: #4267b2;
}
.feed-h1 {
  justify-content: center;
  display: flex;
}
