.frnpad {
  display: block;
}

.active {
  background: #e9f0f2;
}

.frnpad {
  background: white;
  height: auto;
  width: 60%;
  margin: 0 auto;
}

.top {
  background-color: #f5f6f7;
  border-bottom: 1px solid #d3d6db;
}

.top h3 {
  margin: 0px;
  font-size: 20px;
}

.top-div {
  width: 150px;
  padding: 20px;
}

.header-friend img {
  margin-right: 2px;
  vertical-align: middle;
}

.header-friend a {
  color: #4b4f56;
  vertical-align: middle;
}

.header-friend a:hover {
  text-decoration: underline;
}

.friend-list {
  width: 100%;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.single-friend {
  width: 47%;
  display: inline-flex;
  margin: 13px;
  border: 1px solid #e9ebee;
}

.friends-container {
  display: flex;
  height: 100px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-data {
  width: 125px;
}

.user__image img {
  width: 100px;
  height: 100px;
}

.user-data a {
  width: auto;
  text-align: center;
  color: #4267b2;
}

.friend-request,
.friend-request button {
  padding: 5px;
}
