.notification-container {
  font-size: 13px;
  width: 100%;
  top: 90px;
  color: #162643;
  position: relative;
}

.notification {
  width: 70%;
  margin: 0 auto;
}

.notification h3 {
  border-bottom: 1px solid #aaa;
  padding-bottom: 15px;
}

.notif-user {
  width: 100%;
  background-color: #e9e9e9;
  display: inline-block;
}

.user {
  border-bottom: 1px solid #dddfe2;
  padding: 6px 30px 15px 12px;
  color: #000000;
}

.notif-user span {
  color: #162643;
  font-size: 15px;
}

.user-img {
  display: inline-block;
}

.user-img img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.notif-user-data {
  display: inline-block;
  position: absolute;
  margin-left: 10px;
}
.notif-user-data a {
  color: #162643;
  text-transform: capitalize;
}

.rej-acc {
  display: flex;
  width: 110px;
}

.rej-acc button {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.rej-acc form:first-child {
  margin-right: 5px;
}

.reject {
  background-color: rgb(225 29 72);
}

.accept {
  background-color: rgb(22 163 74);
}

.reject:hover {
  background-color: rgb(238, 7, 57);
}

.accept:hover {
  background-color: rgb(9, 143, 58);
}
