#column-2 {
  left: 0px;
  display: flex;
  position: relative;
  top: 0px;
  width: 550px;
  background: white;
  height: auto;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1b6192;
  padding: 10px;
  border-bottom: 1px solid #ebedf0;
}
.people {
  width: 560px;
  background-color: white;
  padding: 5px;
  /* margin-bottom: 5px; */
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.people span {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  margin-left: 5px;
}
.user-image img {
  border-radius: 50%;
}
.search-user-data {
  width: 200px;
}
.search-user-data a {
  width: auto;
  text-align: center;
  color: #4267b2;
  text-transform: capitalize;
}
.friend-container {
  display: flex;
  height: 100px;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
